{% extends 'index.html' %}

{% block content %}
<div class="relative w-full md:w-3/4">
    <!-- Plano de fundo com imagem e opacidade -->
    <div class="absolute inset-0 bg-red-900 bg-opacity-50"></div>
    <div class="bg-gray-400 p-4 relative z-10">
        <h2 class="text-lg font-bold mb-2">Ações do Jogo</h2>
        <!-- Descrição da cena e inimigos -->
        <div class="text-white mb-4">
          <p>Representação visual dos inimigos:</p>
          <div class="flex justify-center mt-4 space-x-8">
            {% for digimon in digimons %}
              <!-- Quadrado do Inimigo 1 -->
              <div class="flex flex-col items-center">
                  <div class="w-40 h-40 bg-gray-600 rounded-lg"></div>
                  <div class="mt-2">
                      <p class="text-sm">{{ digimon.nome }}</p>
                      <p class="text-xs">Nível: {{ digimon.nivel }}</p>
                  </div>
                  <div class="mt-auto">
                      <div class="bg-red-500 h-2 w-24 rounded-full mb-1"></div> <!-- Barra de Vida -->
                      <div class="bg-blue-500 h-2 w-24 rounded-full"></div> <!-- Barra de Stamina -->
                  </div>
              </div>
              <!-- Quadrado do Inimigo 2 -->

              <!-- Quadrado do Inimigo 3 -->
              {% endfor %}
          </div>
      </div>
      
        <!-- Botões de ação do jogador -->
        <div class="flex flex-col md:flex-row md:justify-between items-center">
          <!-- Botões de Ação -->
          <div class="flex items-center space-x-4">
              <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Atacar</button>
              <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Itens</button>
              <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Fugir</button>
          </div>
          
          <!-- Quadrados dos Digimon do Jogador -->
          <div class="flex mt-4 md:mt-0 md:ml-4 space-x-4">
              <!-- Digimon 1 -->
              {% for digimon in digimons %}
              <div class="flex flex-col items-center">
                  <div class="w-12 h-12 bg-gray-600 rounded-lg"></div> <!-- Imagem do Digimon -->
                  <div>
                      <p class="text-sm">{{ digimon.nome }}</p> <!-- Nome do Digimon -->
                      <p class="text-xs">Nível: {{ digimon.nivel }}</p> <!-- Nível do Digimon -->
                  </div>
                  <div class="mt-auto">
                      <div class="bg-red-500 h-2 w-24 rounded-full mb-1"></div> <!-- Barra de Vida -->
                      <div class="bg-blue-500 h-2 w-24 rounded-full"></div> <!-- Barra de Stamina -->
                  </div>
              </div>
              {% endfor %}
              <!-- Digimon 2 -->
             
              <!-- Digimon 3 -->
             
          </div>
      </div>
      
    </div>
</div>
{% endblock %}