{% extends 'index.html' %}

{% block content %}
<div class="relative w-full md:w-3/4">
    <div class="absolute inset-0 bg-red-900 bg-opacity-50"></div>
    <div class="bg-gray-400 p-4 relative z-10">
        <h2 class="text-lg font-bold mb-2">Ações do Jogo</h2>
        <div class="text-white mb-4">
            <p>Representação visual dos inimigos:</p>
            <div class="flex justify-center mt-4 space-x-8">
                {% for digimon in [stage_team.digimon1, stage_team.digimon2, stage_team.digimon3] if digimon %}
                    {% include 'digimon_square.html' %}
                {% endfor %}
            </div>
        </div>
      
        <div class="flex flex-col md:flex-row md:justify-between items-center">
            <div class="flex items-center space-x-4">
                <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Atacar</button>
                <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Itens</button>
                <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Fugir</button>
            </div>
          
            <div class="flex mt-4 md:mt-0 md:ml-4 space-x-4">
                {% for digimon in [player_team.digimon1, player_team.digimon2, player_team.digimon3] if digimon %}
                    {% include 'digimon_square.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
